.card{
    /* background-color: red; */
    width: 23%;
    max-width: 300px;
    box-shadow: 1px 1px 10px rgb(226, 223, 223);
}
.scard{
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
     
}
.scard img{
    width: 100%;
    margin: auto;
   
}
.scard p{
    padding: 5px;
}
 .p-title{
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
 }
 .p-info{
    padding: 10px;
 }
 .ratings{
    background: pink;
    max-width: fit-content;
   min-width: 70px;
   padding-top: 2px;
   padding-bottom: 2px;
   text-align: center;
   border-radius: 8px;

 }
 .cart-button{
    background: rgb(247, 159, 159);
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 48px;
    color: white;
    cursor: pointer;
 }