.home {
    width: 100%;
    margin-top: 30px;

}

.hero {
    max-width: 98%;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    background-image: url('');
    background-position: center;
    background-size: cover;


}

.hero-text {

    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;

}

.hero-text div {
    width: 80%;
}

.hero-text h1 {
    font-size: 65px;
    color: white;
    font-weight: 800;
}

.hero-text h2 {
    font-size: 45px;
    color: white;
    font-weight: 500;
    font-style: italic;
}

.trending-products {
    /* padding: 10px; */
    max-width: 1250px;
    /* background-color: rebeccapurple; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-products h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.t-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
     /* background-color: blue; */
     margin-top: 30px;
}

.t-product {
   max-width: 240px;
   box-shadow: 1px 1px 10px rgb(226, 223, 223);
   padding: 10px;
   /* background-color: red; */
}

.t-product img {
    width: 100%;
   
    /* object-fit: cover;s */
}

.t-product p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.prod-btn{
    background: rgb(247, 159, 159);
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 48px;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
        background: rgb(230, 130, 130);
    }
}

.pop-up {
    position: fixed;
    right: -10%;
    z-index: 99999;
    top: 12%;
    background-color: rgb(236, 195, 195);
    padding: 1rem;

    transition: all 0.3s ease-in-out;
    border-top-left-radius: 10px;

}

.active-pop {

    right: 0 !important;
}

.close-pop {
    display: none;
}