.card {
    background-color: red;

    max-width: 300px;
    max-width: 280px;
    box-shadow: 1px 1px 10px rgb(226, 223, 223);
}

.scard {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;

}

.card img {
    width: 100%;
    margin: auto;

}

.scard p {
    padding: 5px;
}

.p-title {
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
}

.p-info {
    padding: 10px;
}

.ratings {
    background: pink;
    max-width: fit-content;
    min-width: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 8px;

}

.cart-button {
    background: rgb(247, 159, 159);
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 48px;
    color: white;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1250px;
    margin: auto;
    margin-top: 50px;
}

.shop-category {
    padding: 1rem;
}

.banner h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 30px;
    font-family: "Montserrat", sans-serif;

}

.card-desc {
    padding: 20px;
}