.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 0px 0.1px 10px rgb(225, 223, 223);
}
.navbar .nav-mid{
    display: flex;


}
.nav-mid ul{
    display: flex;

}
.nav-mid ul li{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    cursor: pointer;
      font-family: "Montserrat", sans-serif;
    
      
}
.nav-mid ul li a{
    padding-bottom: 8px;
}
.logo{
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
}