
@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.view-product-btn{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    background-color: rgb(247, 159, 159);
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 48px;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
        background: rgb(230, 130, 130);
    }
}